body {
    line-height: 16px;
    font-family: "Trebuchet MS", Arial, Verdana;
    font-size: 100%;
    cursor: default;
    color: #484848;
    background: #f5f5f5 url('pattern.png') ;
}
#header{
		
		text-align:center;
		position:fixed;
		}
		
#footer{
		width:100%;
		text-align:center;
		position:fixed;
		}
		
td{ text-align:center;}	
a{ text-decoration:none; color:blue;}	

#box{
    text-align:left;
    width: 650px;
	
	border-radius: 12px;
	background-color: white;
	box-shadow:#000 1px 1px 4px ;
	}
	
#info{
	color:red;
	top:5px;
	position:fixed;
	}
