body {
    line-height: 16px;
    font-family: "Trebuchet MS", Arial, Verdana;
    font-size: 100%;
    cursor: default;
    color: #484848;
    background: #f5f5f5 url('pattern.png') ;
}
#header{
		
		text-align:center;
		position:fixed;
		}
		
#footer{
		width:100%;
		text-align:center;
		position:fixed;
		}
		
td{ text-align:center;}	
a{ text-decoration:none; color:blue;}	

#box{
    text-align:left;
    width: 650px;
	
	border-radius: 12px;
	background-color: white;
	box-shadow:#000 1px 1px 4px ;
	}
	
#info{
	color:red;
	top:5px;
	position:fixed;
	}


.button{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}
